*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #0000C0;
}
section{
    margin: 45px 80px 80px 80px;
    height: 700px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
}
.circle{
    background-color: chartreuse;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 20%;
    top: -4vh;
    position: absolute;
    z-index: 1;
}
.lost-circle{
    background-color: chartreuse;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    right: -2vh;
    top: 15vh;
    position: absolute;
    z-index: 1;
}
.nav{
    position: absolute;
    color: black;
    /* background-color: rgb(76, 76, 128); */
    width: 100%;
    height: 10vh;
}
.nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    margin: 0 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;

}
.btn{
    background-color: #02006D;
    border-radius: 11px 11px 0px 11px;
    height: 25px;
    padding: auto;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul .btn a{
    color: white;
}
.row1{
    background-color: violet;
    height: 350px;
    width: 500px;
    margin-top: 15vh !important;
    margin: 30px;
    margin-left: 50px;
}
.row1 h4{
    margin-top: 40px;
    color: #F42626;
}
.row1 h2{
    color: #000000;
    font-size: 30;
    margin-top: 20px;
}
.row1 h3{
    color: #000000;
    font-size: 25;
    margin-top: 20px;
}
.row1 p{
    margin-top: 20px;
}
.btn2{
    margin-top: 30px;
    background-color: #FB0808;
    border-radius: 30px 30px 0px 30px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    color: white;
    text-decoration: none;
    
    }
.circle2{
    background-color: rgb(255, 0, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: -4vh;
    position: relative;
    top: 3vh;
}
.row2{
    background-color: yellow;
    height: 350px;
    width: 500px;
    margin-top: 10vh !important;
    margin: 30px;
    position: relative;
}
.circle-big{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(255, 238, 0);
    position: relative;
    top: 15vh;
    left: 14vh;
    z-index: 1;
}
.circle-disp{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(0, 4, 255);
    position: relative;
    top: 40vh;
    position: absolute;
    left: 14vh;
    z-index: 1;
}
.circle-big img {
    width: 70px;
    height: 70px;
}
.circle-small{
    border-radius: 50%;
    width: 300px;
    height: 300px;
   background-color: rgb(0, 225, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    right: 0;
    position: absolute;
}

/* lost circle II */

.lost-circle2{
    background-color: #FBE94B;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: -2vh;
    bottom: 30vh;
    position: absolute;
    z-index: 1;
}
/* 3div bottom section */
.down{
    position: absolute;
    background-color: yellow;
    width: 100%;
    height: 40vh;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.div1{
    /* background-color: #ffffff; */
    width: 200px;
    height: 200px;
    margin: 40px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
} 
.div2{
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    position: relative;
    position: relative;
    margin: 40px;
    border-radius: 20px;
    overflow: hidden;
}
 .div3{
    /* background-color: #ffffff; */
    width: 200px;
    height: 200px;
    position: relative;
    margin: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;

}
.down .div2 img{
    width: 200px;
    height: 200px;
}
.img1 img{
    width: 160px;
    height: 100px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.col{
    width: 160px;
    height: 100px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FBE94B;
}
/* line in between div 2 and 3 */
.line{
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    width: 172px;
    height: 3px;
    border: 1px solid #FB0808;
    transform: rotate(-90deg);
    color: #FB0808;
    display: flex;
    flex-direction: row;
}
.div3{
    display: flex;
    flex-direction: row;
}
.div3 h2, .div3 h3, .div3 h4{
    flex-direction: column;
}